.main-navigation {

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      background-color: map-get($theme__colors, 'dark');
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      padding: $phi * 1em;
      position: absolute;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        // width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    margin: 0 $phi * 1em 0 0;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 1em;
    transform: skew(0deg, 10deg);
    overflow: hidden;
    margin-top: -12px;

    a {
      transform: skew(0deg, -10deg);
    }

    &:hover {
      background: #E91E63;
      a {
        color: map-get($theme__colors, 'light');
      }
    }

    &:last-child {
      margin-right: 0;
    }
    

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    color: map-get($theme__colors, 'primary');
    display: block;
    font-family: $font__display;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@include for-size-up(md) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
