/*////////////////////////////////////
Structure
////////////////////////////////////*/

$phi: 1.618;
$base_font_size: 16;
$px: ( 1 / $base_font_size ) * 1rem;
$max-width: 900;


/*////////////////////////////////////
Colors
////////////////////////////////////*/

$theme__colors: (
  "primary": #EE3057,
  "secondary": #31393C,
  "light": #F1EFF3,
  "dark": #151414
);

$color__background-body: map-get($theme__colors, "light");


/*////////////////////////////////////
Typography
////////////////////////////////////*/

// _typography.scss overwrites
$font__main: 'Bitter', serif;
$font__display: 'Montserrat', sans-serif;

// Heading Tags
$htag_lineheight: 1.313em;
$htag_family: $font__display;
$htag_weight: 300;
// H tag font sizes 1 through 6
$htag_sizes: 3, 2.25, 1.5, 1.313, 1.125, 1;
// H tag vertical margins 1 through 6
$htag_vmargins: 0.563, 0.625, 1.313, 1.313, 1.313, 0.75;

@mixin htags( $factor: 1 ){
  h1, h2, h3, h4, h5, h6 {
    font-family: $htag_family;
    line-height: $htag_lineheight;
    font-weight: $htag_weight;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      $value: nth($htag_sizes, $i);
      $size: if( ($value * $factor) < 1, 1, $value * $factor );
      font-size: $size * 1em;
      margin: ( nth($htag_vmargins, $i) * 1em ) 0;
    }
  }
  // Set H1 widget titles default size
  .widget-title {
    $default: nth($htag_sizes, 4);
    $size: if( ($default * $factor) < 1, 1, $default * $factor );
    font-size: $size * 1em;
  }
}


/*////////////////////////////////////
Media Queries
////////////////////////////////////*/

@mixin for-size-up($size) {
  @if $size == sm {
    @media (min-width: 576px) { @content; }
  }
  @else if $size == md {
    @media (min-width: 768px) { @content; }
  }
  @else if $size == lg {
    @media (min-width: 992px) { @content; }
  }
  @else if $size == xl {
    @media (min-width: 1200px) { @content; }
  }
  @else if $size == xxl {
    @media (min-width: 1800px) { @content; }
  }
}