/*///////////////////////////////////////////////
General Resets
///////////////////////////////////////////////*/

// Set everything to border-box
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Remove default link styling
a {
  text-decoration: none;
}

// Overridden from _lists.scss
ul, ol {
  padding: 0;
  margin: 0 0 $phi*1em $phi*1em;
}

// H tags
@include htags;


/*///////////////////////////////////////////////
Global Styles
///////////////////////////////////////////////*/

body {
  background-image: url('media/images/scratched-texture-background.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 75vh;
}

// Top Nav
.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 $phi * 1em $phi * 1em;
}

.site-branding {
  height: 30px;

  a, svg {
    height: 100%;
    transition: transform 200ms ease-in-out;

    .default_fill {
      fill: map-get($theme__colors, "primary");
    }

    &:hover {
      transform: rotate(360deg);
    }
  }
}

.site-info {
  font-family: $font__display;
  text-align: center;

  &, a {
    color: map-get($theme__colors, 'light');
  }

  .site-title, .site-description {
    margin: 0;
  }

  .site-title {
    font-size: 1.5em;
  }

  .site-description {
    font-weight: bold;
  }
}

.site-content {
  box-shadow: 0 0 6px #000;
  margin: 0 auto;
  max-width: $max-width * 1px;
}

.content-area {
  background: map-get($theme__colors, "light");
  padding: $phi + $phi * 1em;
}


/*///////////////////////////////////////////////
Page Specific Styles
///////////////////////////////////////////////*/

// Homepage greeter
.greeter_outer-wrapper {
  background-blend-mode: 
    normal,
    hard-light,
    normal;
  background-image:
    url('media/images/joshmakar-glasses.png'),
    url('media/images/diagonal-bar.png'),
    url('media/images/scratched-texture-background.jpg');
  background-position:
    bottom right $phi + $phi * 1em,
    center,
    center;
  background-repeat: no-repeat;
  background-size:
    contain,
    cover,
    cover;
  height: 422px;
}

.greeter_inner-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  padding: $phi + $phi * 1em;
}

.greeter_text {
  color: map-get($theme__colors, "light");
  font-family: $font__display;
  font-size: 3em;
  font-weight: 700;

  span {
    display: block;
  }
}

.greeter_image {
}